{% extends "layout.html" %}

{% block head %}
    <script src="{{ url_for('static', filename='js/spark-md5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block header %}
    <header>
        <nav class="navbar navbar-dark navbar-expand-sm bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Text recognition</a>
    
                <div class="collapse navbar-collapse">
                    <ul class="ms-auto navbar-nav">
                        <li class="nav-item my-auto">
                            <span class="nav-link nav-text">
                                Hello, {{ user.name }}
                            </span>
                        </li>
                        <li class="nav-item me-3 my-auto">
                            <img class="rounded-circle" style="width: 35px;" src="{{ user.picture }}"/>
                        </li>
                        <li class="nav-item my-auto">
                            <button type="button" class="btn btn-outline-light btn-sm" id="sign-out">Logout</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% with successes = get_flashed_messages(category_filter=["upload_success"]) %}
            {% if successes %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Your file was successfully uploaded!</h4>
                    <p>It will be processed as soon as possible. You will be noticed when your text recognition is ready via your email adress.</p>
                </div>
            {% endif %}
        {% endwith %}
        {% with errors = get_flashed_messages(category_filter=["upload_error"]) %}
            {% if errors %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Your file upload has failed!</h4>
                    <ul>
                    {%- for msg in errors %}
                        <li>{{ msg }}</li>
                    {% endfor -%}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    </header>
{% endblock %}

{% block main %}

    <div class="d-flex flex-column justify-content-center h-100">

        <h1 class="mb-3">Recognize text on your photo:</h1>
        <form action="/recognize" method="POST" enctype="multipart/form-data">
            <input class="form-control form-control-lg w-50" id="file-input" type="file" name="file" required>
            <h6 class="ms-3 mb-3">Supported extensions are: <strong>.png, .jpg, .jpeg</strong></h1>
            <div class="alert alert-warning" role="alert" id="duplicate-warning" style="display:none;">
                <h6 class="alert-heading">We found out, that the file you have choosen was already processed!</h6>
                <span>If you want you can still continue and process the image again.</span>
            </div>
            <button type="submit" class="btn btn-primary btn-lg" id="submit">
                Upload
            </button>
        </form>
    </div>
{% endblock %}