<!doctype html>
<html class="h-100">

<meta name="google-signin-client_id" content="{{ CLIENT_ID }}">

<head>
    <title>Text recognition</title>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/sticky-footer-navbar.css') }}">

    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    {% block head %}
    {% endblock %}
</head>

<body class="d-flex flex-column h-100 bg-light">

    {% block header %}
    {% endblock %}

    <main class="container h-100">
        {% block main %}
        {% endblock %}
    </main>

    {% block footer %}
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container" style="text-align: center;">
            <span class="text-muted">&copy; 2021 Copyright: Karol Waszczuk</span>
        </div>
    </footer>
    {% endblock %}
</body>

</html>